Nodes/Node-Red/Growbox_Mobile.json
[{"id":"ff6cb7d2.03e6f","type":"tab","label":"Growbox Mobile","disabled":false,"info":""},{"id":"5d6e8f9f.6833d","type":"ui_gauge","z":"ff6cb7d2.03e6f","name":"","group":"964b708e.242988","order":1,"width":"5","height":"2","gtype":"gage","title":"Light","label":"LUX","format":"{{msg.payload.ldr}}","min":0,"max":"1000","colors":["#3f3f3f","#c27323","#f5ea0c"],"seg1":"","seg2":"","x":950,"y":320,"wires":[]},{"id":"cd1eef9a.8a9138","type":"ui_gauge","z":"ff6cb7d2.03e6f","name":"","group":"964b708e.242988","order":3,"width":"5","height":"2","gtype":"gage","title":"Temperature","label":"℃","format":"{{msg.payload.temperature}}","min":"-35","max":"95","colors":["#54f1fa","#ee9b1e","#e92318"],"seg1":"","seg2":"","x":970,"y":280,"wires":[]},{"id":"1ff66d42.20e633","type":"ui_gauge","z":"ff6cb7d2.03e6f","name":"","group":"ed348fb3.0634d8","order":3,"width":"5","height":"2","gtype":"gage","title":"Soil Humidity","label":"%RSH","format":"{{msg.payload.soilHumidity}}","min":0,"max":"100","colors":["#ef170c","#00e61d","#1104fd"],"seg1":"","seg2":"","x":970,"y":240,"wires":[]},{"id":"48adc01c.f67938","type":"ui_dropdown","z":"ff6cb7d2.03e6f","name":"","label":"","tooltip":"","place":"No Boxxes connected/selected","group":"80f7fe31.ffc098","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"Dropdown","topicType":"str","x":400,"y":480,"wires":[["d006a7c7.1e98a8"]]},{"id":"8a0cacd1.9235d","type":"ui_button","z":"ff6cb7d2.03e6f","name":"","group":"80f7fe31.ffc098","order":2,"width":0,"height":0,"passthru":false,"label":"Disconnect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$Remove:","payloadType":"str","topic":"topic","topicType":"str","x":410,"y":560,"wires":[["1e368000.ace778"]]},{"id":"47bbc009.be0048","type":"ui_form","z":"ff6cb7d2.03e6f","name":"","label":"","group":"80f7fe31.ffc098","order":0,"width":"0","height":"0","options":[{"label":"Duration (H)","value":"Duration","type":"number","required":true,"rows":null},{"label":"Temperature","value":"Temp","type":"number","required":true,"rows":null},{"label":"Soil Moisture","value":"SoilMoist","type":"number","required":true,"rows":null},{"label":"Humidity","value":"Humidity","type":"number","required":true,"rows":null},{"label":"Light Intensity","value":"LightIntensity","type":"number","required":true,"rows":null},{"label":"Light Time Cycle (H)","value":"LightTimeCycle","type":"number","required":true,"rows":null},{"label":"Priority","value":"PriorityOverwrite","type":"number","required":true,"rows":null}],"formValue":{"Duration":"","Temp":"","SoilMoist":"","Humidity":"","LightIntensity":"","LightTimeCycle":"","PriorityOverwrite":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":true,"x":390,"y":620,"wires":[["64947cc6.5eb03c"]]},{"id":"64947cc6.5eb03c","type":"function","z":"ff6cb7d2.03e6f","name":"","func":"at = flow.get(\"at\");\nboxxes = flow.get(\"boxxes\");\n\nvar start = '$Program:';\nvar sep = \":\"\nvar end = '#'\n\nif(at !== null)\n{\n    //msg.payload.IP_Addr = boxxes[at].payload.IP_Addr;\n    var newmsg =\n    {\n        \"payload\":start.concat(boxxes[at].payload.IP_Addr.toString(),\n                                sep,\n                                msg.payload.Duration.toString(),\n                                sep,\n                                msg.payload.Temp.toString(),\n                                sep,\n                                msg.payload.SoilMoist.toString(),\n                                sep,\n                                msg.payload.Humidity.toString(),\n                                sep,\n                                msg.payload.LightIntensity.toString(),\n                                sep,\n                                msg.payload.LightTimeCycle.toString(),\n                                sep,\n                                msg.payload.PriorityOverwrite.toString(),\n                                end)\n    };\n    return newmsg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":620,"wires":[["8d75350f.efd91","ba597014.bdb638"]]},{"id":"ba597014.bdb638","type":"mqtt out","z":"ff6cb7d2.03e6f","name":"","topic":"growbox/commands","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"41c6b363.ea86ac","x":1000,"y":620,"wires":[]},{"id":"9b36afd.a2201d","type":"ui_gauge","z":"ff6cb7d2.03e6f","name":"Humidity","group":"ed348fb3.0634d8","order":1,"width":"5","height":"2","gtype":"gage","title":"Humidity","label":"%RH","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#ef170c","#00e61d","#1104fd"],"seg1":"","seg2":"","x":960,"y":200,"wires":[]},{"id":"1964d92a.bb57c7","type":"mqtt in","z":"ff6cb7d2.03e6f","name":"","topic":"growbox/data","qos":"2","datatype":"json","broker":"41c6b363.ea86ac","nl":false,"rap":true,"rh":0,"x":110,"y":320,"wires":[["fd08c591.8575b"]]},{"id":"8d75350f.efd91","type":"debug","z":"ff6cb7d2.03e6f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":400,"wires":[]},{"id":"fd08c591.8575b","type":"json","z":"ff6cb7d2.03e6f","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":320,"wires":[["bef507c4.62394"]],"info":"{“msg”:value}"},{"id":"bef507c4.62394","type":"function","z":"ff6cb7d2.03e6f","name":"","func":"//if(msg.payload.hasOwnProperty('IP_Addr'))\n//{\nvar ammount = flow.get(\"ammount\");\n    if(msg.payload.IP_Addr != null)\n    {\n        var boxxes = flow.get(\"boxxes\");\n        var exists = false;\n        for(var i = 0; i < ammount; i++)\n        {\n            if(boxxes[i].payload.IP_Addr === msg.payload.IP_Addr)\n            {\n                boxxes[i] = msg;\n                exists = true;\n                flow.set(\"boxxes\",boxxes);\n                var at = flow.get(\"at\") || null;\n                if(at == i)\n                {\n                    return[null,msg];\n                }\n            }\n        }\n        if(!exists)\n        {\n            ammount += 1;\n            boxxes.push(msg);\n            node.error(boxxes);\n            flow.set(\"boxxes\",boxxes);\n            flow.set(\"ammount\", ammount);\n            var newmsg = {payload: []};\n            for(j = 0; j < ammount; j++)\n            {\n                var str = \"Box \";\n                str = str.concat((j+1).toString());\n                var LObject = {[str] : j.toString()};\n                newmsg.payload.push(LObject);\n            }\n            return[newmsg,null];\n        }\n    }\n//}","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"ammount\",0);\nvar boxxes = [];\nflow.set(\"boxxes\", boxxes);","finalize":"","libs":[],"x":460,"y":320,"wires":[["c792c1aa.67a06"],["9b36afd.a2201d","1ff66d42.20e633","cd1eef9a.8a9138","5d6e8f9f.6833d"]]},{"id":"c792c1aa.67a06","type":"change","z":"ff6cb7d2.03e6f","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":480,"wires":[["48adc01c.f67938"]]},{"id":"d006a7c7.1e98a8","type":"function","z":"ff6cb7d2.03e6f","name":"","func":"at = flow.get(\"at\");\nboxxes = flow.get(\"boxxes\");\n\nif(boxxes != null)\n{\n    at = msg.payload;\n    flow.set(\"at\",at);\n    if(at != null)\n    {\n        return boxxes[at];\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":480,"wires":[["5d6e8f9f.6833d","cd1eef9a.8a9138","1ff66d42.20e633","9b36afd.a2201d"]]},{"id":"3f8e0173.9ad6c6","type":"ui_gauge","z":"ff6cb7d2.03e6f","name":"Water Tank","group":"964b708e.242988","order":3,"width":0,"height":0,"gtype":"wave","title":"Tank","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":360,"wires":[]},{"id":"1e368000.ace778","type":"function","z":"ff6cb7d2.03e6f","name":"","func":"at = flow.get(\"at\");\nboxxes = flow.get(\"boxxes\");\n\n\nvar end = '#'\n\nif(at !== null)\n{\n    //msg.payload.IP_Addr = boxxes[at].payload.IP_Addr;\n    var newmsg =\n    {\n        \"payload\":msg.payload.concat(boxxes[at].payload.IP_Addr.toString(),end)\n    };\n    return newmsg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":560,"wires":[["8d75350f.efd91","ba597014.bdb638"]]},{"id":"2b07c91e.50913e","type":"mqtt in","z":"ff6cb7d2.03e6f","name":"","topic":"growbox/watertank","qos":"2","datatype":"auto","broker":"1e03729d.b6d2f5","nl":false,"rap":true,"rh":0,"x":130,"y":380,"wires":[["a71b1cda.89ba5","8d75350f.efd91"]]},{"id":"879681c9.61871","type":"inject","z":"ff6cb7d2.03e6f","d":true,"name":"Water Usage","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"50","payloadType":"num","x":130,"y":440,"wires":[["a71b1cda.89ba5"]]},{"id":"cd7786f.af664f8","type":"function","z":"ff6cb7d2.03e6f","name":"Style Gauge","func":"msg.ui_control = \n\n{\n    \"gtype\": \"wave\",\n\n    \"options\":{\n        \"circleColor\": msg.circleColor, \n        \"textColor\": msg.textColor, \n        \"waveTextColor\": msg.waveTextColor, \n        \"waveColor\": msg.waveColor, \n        \"circleThickness\":0.1, \n        \"textVertPosition\":0.4, \n        \"waveHeight\":0.069, \n        \"waveCount\":2\n    \n}\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":360,"wires":[["3f8e0173.9ad6c6"]]},{"id":"a71b1cda.89ba5","type":"change","z":"ff6cb7d2.03e6f","name":"Gauge Colors","rules":[{"t":"set","p":"circleColor","pt":"msg","to":"#6f6f6f","tot":"str"},{"t":"set","p":"textColor","pt":"msg","to":"#000000","tot":"str"},{"t":"set","p":"waveTextColor","pt":"msg","to":"#000000","tot":"str"},{"t":"set","p":"waveColor","pt":"msg","to":"#2556dd","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["cd7786f.af664f8"]]},{"id":"f16f1eb4.8b5ad8","type":"ui_template","z":"ff6cb7d2.03e6f","group":"110f893b.a0f1d7","name":"dashboard styles override","order":1,"width":0,"height":0,"format":"<style id=\"dashboard-styles-override\">\n   .nr-dashboard-theme md-select-menu md-option {\n        background-color: var(--nr-dashboard-groupBorderColor);\n        color: #eeeeee;\n        height: 29px;\n       /* border-radius: 14px;*/\n        margin-left: 10px;\n        margin-right: 10px;\n        margin-top: 2px;\n        box-shadow: 0 0 6px 6px #24202133;\n        transition: 0.3s;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: var(--nr-dashboard-widgetTextColor) !important;\n        background-color: var(--nr-dashboard-widgetColor) !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option:nth-child(even) {\n        background-color: var(--nr-dashboard-groupBorderColor);\n        opacity:0.8;\n    }\n    .nr-dashboard-theme md-select-menu md-option:last-child {\n       margin-bottom: 8px;\n    }\n    .nr-dashboard-theme md-select-menu md-option:hover {\n        background-color: var(--nr-dashboard-widgetBackgroundColor) !important;\n        padding-left: 24px;\n    }\n    .nr-dashboard-theme md-select-menu md-option > .md-ripple-container{\n        /* border-radius: 14px;*/\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":160,"y":100,"wires":[[]]},{"id":"964b708e.242988","type":"ui_group","name":"GEx","tab":"e3bd9b96.fde8c","order":3,"disp":false,"width":"5","collapse":false},{"id":"ed348fb3.0634d8","type":"ui_group","name":"Gln","tab":"e3bd9b96.fde8c","order":4,"disp":false,"width":"5","collapse":false},{"id":"80f7fe31.ffc098","type":"ui_group","name":"Boxchoice","tab":"e3bd9b96.fde8c","order":2,"disp":false,"width":"10","collapse":false},{"id":"41c6b363.ea86ac","type":"mqtt-broker","name":"GrowBox","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1e03729d.b6d2f5","type":"mqtt-broker","name":"GrowBox","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"110f893b.a0f1d7","type":"ui_group","name":"Default","tab":"726cbb20.1af4f4","order":13,"disp":true,"width":"6","collapse":false},{"id":"e3bd9b96.fde8c","type":"ui_tab","name":"Growbox Mobile","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"726cbb20.1af4f4","type":"ui_tab","name":"SEC","icon":"dashboard","order":9,"disabled":false,"hidden":false}]