Nodes/Node-Red/Growbox.json
[{"id":"9b09844c.6be3d","type":"tab","label":"Growbox","disabled":false,"info":""},{"id":"fbc2e500.64afa8","type":"ui_gauge","z":"9b09844c.6be3d","name":"","group":"9de27179.52ba1","order":1,"width":"6","height":"5","gtype":"gage","title":"Light","label":"LUX","format":"{{msg.payload.ldr}}","min":0,"max":"1000","colors":["#3f3f3f","#c27323","#f5ea0c"],"seg1":"","seg2":"","x":950,"y":320,"wires":[]},{"id":"8693c016.5b0468","type":"ui_gauge","z":"9b09844c.6be3d","name":"","group":"9de27179.52ba1","order":3,"width":"6","height":"5","gtype":"gage","title":"Temperature","label":"℃","format":"{{msg.payload.temperature}}","min":"-35","max":"95","colors":["#54f1fa","#ee9b1e","#e92318"],"seg1":"","seg2":"","x":970,"y":280,"wires":[]},{"id":"a0b04b8.4b43eb8","type":"ui_gauge","z":"9b09844c.6be3d","name":"","group":"9de27179.52ba1","order":3,"width":"6","height":"5","gtype":"gage","title":"Soil Humidity","label":"%RSH","format":"{{msg.payload.soilHumidity}}","min":0,"max":"100","colors":["#ef170c","#00e61d","#1104fd"],"seg1":"","seg2":"","x":970,"y":240,"wires":[]},{"id":"96f311a9.c57d38","type":"ui_dropdown","z":"9b09844c.6be3d","name":"","label":"","tooltip":"","place":"No Boxxes connected/selected","group":"c63da423.6f70d8","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"Dropdown","topicType":"str","x":400,"y":480,"wires":[["1cb594b5.087b2b"]]},{"id":"7283b3cf.6db7b4","type":"ui_button","z":"9b09844c.6be3d","name":"","group":"c63da423.6f70d8","order":2,"width":0,"height":0,"passthru":false,"label":"Disconnect","tooltip":"","color":"","bgcolor":"","icon":"","payload":"$Remove:","payloadType":"str","topic":"topic","topicType":"str","x":410,"y":560,"wires":[["c3df60a7.835248"]]},{"id":"9f78a10f.121e1","type":"ui_form","z":"9b09844c.6be3d","name":"","label":"","group":"c63da423.6f70d8","order":0,"width":"0","height":"0","options":[{"label":"Duration (H)","value":"Duration","type":"number","required":true,"rows":null},{"label":"Temperature","value":"Temp","type":"number","required":true,"rows":null},{"label":"Soil Moisture","value":"SoilMoist","type":"number","required":true,"rows":null},{"label":"Humidity","value":"Humidity","type":"number","required":true,"rows":null},{"label":"Light Intensity","value":"LightIntensity","type":"number","required":true,"rows":null},{"label":"Light Time Cycle (H)","value":"LightTimeCycle","type":"number","required":true,"rows":null},{"label":"Priority","value":"PriorityOverwrite","type":"number","required":true,"rows":null}],"formValue":{"Duration":"","Temp":"","SoilMoist":"","Humidity":"","LightIntensity":"","LightTimeCycle":"","PriorityOverwrite":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","topicType":"str","splitLayout":true,"x":390,"y":620,"wires":[["81c4b066.22d3a8"]]},{"id":"81c4b066.22d3a8","type":"function","z":"9b09844c.6be3d","name":"","func":"at = flow.get(\"at\");\nboxxes = flow.get(\"boxxes\");\n\nvar start = '$Program:';\nvar sep = \":\"\nvar end = '#'\n\nif(at !== null)\n{\n    //msg.payload.IP_Addr = boxxes[at].payload.IP_Addr;\n    var newmsg =\n    {\n        \"payload\":start.concat(boxxes[at].payload.IP_Addr.toString(),\n                                sep,\n                                msg.payload.Duration.toString(),\n                                sep,\n                                msg.payload.Temp.toString(),\n                                sep,\n                                msg.payload.SoilMoist.toString(),\n                                sep,\n                                msg.payload.Humidity.toString(),\n                                sep,\n                                msg.payload.LightIntensity.toString(),\n                                sep,\n                                msg.payload.LightTimeCycle.toString(),\n                                sep,\n                                msg.payload.PriorityOverwrite.toString(),\n                                end)\n    };\n    return newmsg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":620,"wires":[["68c57726.893b78","697ebca0.e011dc"]]},{"id":"697ebca0.e011dc","type":"mqtt out","z":"9b09844c.6be3d","name":"","topic":"growbox/commands","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"41c6b363.ea86ac","x":1000,"y":620,"wires":[]},{"id":"97ad9d02.fece8","type":"ui_gauge","z":"9b09844c.6be3d","name":"Humidity","group":"9de27179.52ba1","order":1,"width":"6","height":"5","gtype":"gage","title":"Humidity","label":"%RH","format":"{{msg.payload.humidity}}","min":0,"max":"100","colors":["#ef170c","#00e61d","#1104fd"],"seg1":"","seg2":"","x":960,"y":200,"wires":[]},{"id":"7d3b3f60.8a362","type":"mqtt in","z":"9b09844c.6be3d","name":"","topic":"growbox/data","qos":"2","datatype":"json","broker":"41c6b363.ea86ac","nl":false,"rap":true,"rh":0,"x":110,"y":320,"wires":[["7df8f034.b5ce28"]]},{"id":"68c57726.893b78","type":"debug","z":"9b09844c.6be3d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":400,"wires":[]},{"id":"7df8f034.b5ce28","type":"json","z":"9b09844c.6be3d","name":"","property":"payload","action":"obj","pretty":false,"x":290,"y":320,"wires":[["842698fc.f8475"]],"info":"{“msg”:value}"},{"id":"842698fc.f8475","type":"function","z":"9b09844c.6be3d","name":"","func":"//if(msg.payload.hasOwnProperty('IP_Addr'))\n//{\nvar ammount = flow.get(\"ammount\");\n    if(msg.payload.IP_Addr != null)\n    {\n        var boxxes = flow.get(\"boxxes\");\n        var exists = false;\n        for(var i = 0; i < ammount; i++)\n        {\n            if(boxxes[i].payload.IP_Addr === msg.payload.IP_Addr)\n            {\n                boxxes[i] = msg;\n                exists = true;\n                flow.set(\"boxxes\",boxxes);\n                var at = flow.get(\"at\") || null;\n                if(at == i)\n                {\n                    return[null,msg];\n                }\n            }\n        }\n        if(!exists)\n        {\n            ammount += 1;\n            boxxes.push(msg);\n            node.error(boxxes);\n            flow.set(\"boxxes\",boxxes);\n            flow.set(\"ammount\", ammount);\n            var newmsg = {payload: []};\n            for(j = 0; j < ammount; j++)\n            {\n                var str = \"Box \";\n                str = str.concat((j+1).toString());\n                var LObject = {[str] : j.toString()};\n                newmsg.payload.push(LObject);\n            }\n            return[newmsg,null];\n        }\n    }\n//}","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set(\"ammount\",0);\nvar boxxes = [];\nflow.set(\"boxxes\", boxxes);","finalize":"","libs":[],"x":460,"y":320,"wires":[["1eb31ef2.d9b649"],["97ad9d02.fece8","a0b04b8.4b43eb8","8693c016.5b0468","fbc2e500.64afa8"]]},{"id":"1eb31ef2.d9b649","type":"change","z":"9b09844c.6be3d","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":480,"wires":[["96f311a9.c57d38"]]},{"id":"1cb594b5.087b2b","type":"function","z":"9b09844c.6be3d","name":"","func":"at = flow.get(\"at\");\nboxxes = flow.get(\"boxxes\");\n\nif(boxxes != null)\n{\n    at = msg.payload;\n    flow.set(\"at\",at);\n    if(at != null)\n    {\n        return boxxes[at];\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":480,"wires":[["fbc2e500.64afa8","8693c016.5b0468","a0b04b8.4b43eb8","97ad9d02.fece8"]]},{"id":"7a85466b.4b847","type":"ui_gauge","z":"9b09844c.6be3d","name":"Water Tank","group":"be511490.d54628","order":3,"width":"8","height":"10","gtype":"wave","title":"Tank","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":360,"wires":[]},{"id":"c3df60a7.835248","type":"function","z":"9b09844c.6be3d","name":"","func":"at = flow.get(\"at\");\nboxxes = flow.get(\"boxxes\");\n\n\nvar end = '#'\n\nif(at !== null)\n{\n    //msg.payload.IP_Addr = boxxes[at].payload.IP_Addr;\n    var newmsg =\n    {\n        \"payload\":msg.payload.concat(boxxes[at].payload.IP_Addr.toString(),end)\n    };\n    return newmsg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":560,"wires":[["68c57726.893b78","697ebca0.e011dc"]]},{"id":"90735c9e.303158","type":"mqtt in","z":"9b09844c.6be3d","name":"","topic":"growbox/watertank","qos":"2","datatype":"auto","broker":"1e03729d.b6d2f5","nl":false,"rap":true,"rh":0,"x":130,"y":380,"wires":[["479f3215.fc99e4","68c57726.893b78"]]},{"id":"196917ce.329be8","type":"inject","z":"9b09844c.6be3d","d":true,"name":"Water Usage","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"50","payloadType":"num","x":130,"y":440,"wires":[["479f3215.fc99e4"]]},{"id":"c69cb85c.ee9be","type":"function","z":"9b09844c.6be3d","name":"Style Gauge","func":"msg.ui_control = \n\n{\n    \"gtype\": \"wave\",\n\n    \"options\":{\n        \"circleColor\": msg.circleColor, \n        \"textColor\": msg.textColor, \n        \"waveTextColor\": msg.waveTextColor, \n        \"waveColor\": msg.waveColor, \n        \"circleThickness\":0.1, \n        \"textVertPosition\":0.4, \n        \"waveHeight\":0.069, \n        \"waveCount\":2\n    \n}\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":360,"wires":[["7a85466b.4b847"]]},{"id":"479f3215.fc99e4","type":"change","z":"9b09844c.6be3d","name":"Gauge Colors","rules":[{"t":"set","p":"circleColor","pt":"msg","to":"#6f6f6f","tot":"str"},{"t":"set","p":"textColor","pt":"msg","to":"#000000","tot":"str"},{"t":"set","p":"waveTextColor","pt":"msg","to":"#000000","tot":"str"},{"t":"set","p":"waveColor","pt":"msg","to":"#2556dd","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[["c69cb85c.ee9be"]]},{"id":"629c26de.2729b8","type":"ui_template","z":"9b09844c.6be3d","group":"110f893b.a0f1d7","name":"dashboard styles override","order":1,"width":0,"height":0,"format":"<style id=\"dashboard-styles-override\">\n   .nr-dashboard-theme md-select-menu md-option {\n        background-color: var(--nr-dashboard-groupBorderColor);\n        color: #eeeeee;\n        height: 29px;\n       /* border-radius: 14px;*/\n        margin-left: 10px;\n        margin-right: 10px;\n        margin-top: 2px;\n        box-shadow: 0 0 6px 6px #24202133;\n        transition: 0.3s;\n    }\n    .nr-dashboard-theme md-select-menu md-option[selected] {\n        color: var(--nr-dashboard-widgetTextColor) !important;\n        background-color: var(--nr-dashboard-widgetColor) !important;\n    }\n    .nr-dashboard-theme md-select-menu md-option:nth-child(even) {\n        background-color: var(--nr-dashboard-groupBorderColor);\n        opacity:0.8;\n    }\n    .nr-dashboard-theme md-select-menu md-option:last-child {\n       margin-bottom: 8px;\n    }\n    .nr-dashboard-theme md-select-menu md-option:hover {\n        background-color: var(--nr-dashboard-widgetBackgroundColor) !important;\n        padding-left: 24px;\n    }\n    .nr-dashboard-theme md-select-menu md-option > .md-ripple-container{\n        /* border-radius: 14px;*/\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":160,"y":100,"wires":[[]]},{"id":"9de27179.52ba1","type":"ui_group","name":"GEx","tab":"d108d9bb.8785a","order":3,"disp":false,"width":"12","collapse":false},{"id":"c63da423.6f70d8","type":"ui_group","name":"Boxchoice","tab":"d108d9bb.8785a","order":2,"disp":false,"width":"10","collapse":false},{"id":"41c6b363.ea86ac","type":"mqtt-broker","name":"GrowBox","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"be511490.d54628","type":"ui_group","name":"GIn","tab":"d108d9bb.8785a","order":8,"disp":false,"width":"8","collapse":false},{"id":"1e03729d.b6d2f5","type":"mqtt-broker","name":"GrowBox","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"110f893b.a0f1d7","type":"ui_group","name":"Default","tab":"726cbb20.1af4f4","order":13,"disp":true,"width":"6","collapse":false},{"id":"d108d9bb.8785a","type":"ui_tab","name":"Growbox","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"726cbb20.1af4f4","type":"ui_tab","name":"SEC","icon":"dashboard","order":9,"disabled":false,"hidden":false}]